

<html>
    <head>
        <title>Test Dashboard Sign Up1</title>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="./css/styles.css"/>
        <script type="module" src="/index.js"></script>
    </head>
  
    <body>
        <ul class="top">
            <div class="text">
                <strong>MIRFAK2 Dashboard</strong>
            </div>
            <!-- <li><a href="index.html"><button class="clear" onclick="logout()"><strong>Sign Out</strong></button></a></li> -->
            <li></li>
        </ul>
        <div id="login_div" class="home">
        
  
            <h3>Covid Dashboard Log In</h3>
            <input type="email" placeholder="Email: test@email.com"  id="email_login"/>
            <input type="password" placeholder="5+ characters" id="password_login"/>
  
           


            <!-- <a href="mainPage.html"><button onclick="login()">Login to Account</button></a> -->
            <!-- <button onclick="login()" href="mainPage.html">Login to Account</button> -->
  
        </div>
        <div>        
            <button onclick="goToSignup()"><strong>Signup</strong></button>
        </div>
        <div>        
            <button onclick="login()"><strong>Log In to Account</strong></button>
        </div>
        <div>
            <button onclick="goToPage()"><strong>Go to Dashboard</strong></button>
        </div>
       
  
        
    </body>
  </html>